<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleanBidder</title>
    <link rel="stylesheet" href="/css/legal.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
</head>
<body>
    <div class="container">
	<div class="header-container">
            <img src="/images/logo1.jpg" alt="Logo" class="logo"> 
            <h1>Legal and Policies</h1>
			<div id="navbar">
			<button id="backToDashboard" href="/views/admin_dashboard.html">Dashboard</button>
			<button id="completeProjects"href="/views/gallery.html">Gallery</button>
			<button id="contacts"href="/views/contacts.html">Contacts</button>
			<button id="about"href="/views/about.html">About Us</button>
            <button id="logoutButton" href="/views/index.html">Logout</button>
		</div>
        </div>
		
	<div class="flex-container">
		<div class="legal-docs-container">
			<div class="policy-card">
				<h3><a href="path/to/privacy-policy.pdf" target="_blank">Privacy Policy</a></h3>
				<p>This document outlines our policies regarding the collection, use, and disclosure of personal information.</p>
			</div>
			<div class="policy-card">
				<h3><a href="path/to/terms-of-service.pdf" target="_blank">Terms of Service</a></h3>
				<p>These terms govern your use of our services and outline your rights and responsibilities.</p>
			</div>
			<div class="policy-card">
				<h3><a href="path/to/refund-policy.pdf" target="_blank">Promotion of Access to Information</a></h3>
				<p>This document explains our refund policy and the conditions under which refunds are granted.</p>
			</div>
			<div class="policy-card">
				<h3><a href="path/to/cookie-policy.pdf" target="_blank">Notice of Annual General Meeting</a></h3>
				<p>Learn about how we use cookies and similar technologies to enhance your experience.</p>
			</div>
		</div>
	</div>
	
	<footer>
		<p class="rights" >&copy; 2023 Fezile Mnikazi. All rights reserved.</p>
		<p style="margin-left: 0px;">  
		</p>
		<div class="social-media">
			<a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
				<i class="fas fa-phone"></i>
			</a>
			<a href="https://www.twitter.com" target="_blank" aria-label="Twitter">
				<i class="fab fa-twitter"></i>
			</a>
			<a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://www.linkedin.com" target="_blank" aria-label="LinkedIn">
				<i class="fas fa-envelope"></i>
			</a>
		</div>
	</footer>
	</div>
	<script src="/js/legal.js"></script>
</body>
</html>